<h1>Detalle de producto</h1>
<br>
<form>
  <div class="row">
    <div class="col mb-6">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" disabled>
    </div>
    <div class="col mb-6">
      <label for="origen" class="form-label">Origen</label>
      <input type="text" class="form-control" id="origen" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col mb-12">
      <label for="descripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <label for="precio" class="form-label">Precio</label>
      <input type="text" class="form-control" id="precio" disabled>
    </div>
    <div class="col mb-4">
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="text" class="form-control" id="cantidad" disabled>
    </div>
    <div class="col mb-4">
      <label for="vencimiento" class="form-label">Vencimiento</label>
      <input type="text" class="form-control" id="vencimiento" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col mb-12">
      <label for="url" class="form-label">URL</label>
      <input type="text" class="form-control" id="url" disabled>
    </div>
  </div>
  <div class="buton">
    <button type="submit" class="btn btn-outline-warning">Ok</button>
  </div>

</form>
