<h1>Productos</h1>
<br>
    <table class="table table-hover">
      <thead>
        <tr class="title">
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos" [routerLink]="['/producto', producto.id]" routerLinkActive="router-link-active">
          <th scope="row">{{producto.id}}</th>
          <td>{{producto.nombre}}</td>
          <td>{{producto.cantidad}}</td>
          <td>{{producto.precio}}</td>
        </tr>
      </tbody>
    </table>
